{% extends "__base.html" %}

{% block title %} | Удаление узла сети доступа.{% endblock %}

{% block content %}
			{% if user.is_authenticated %}
				<div class = "container ">
					<h2> Удаление узла сети доступа!</h2>
                    <p>Вы действительно желаете удалить узел доступа: {{ access_node }}?</p>
					<form method="POST" class="post-form">{% csrf_token %}
                        {% csrf_token %}
						<button type="submit" class="save btn btn-default">Удалить!</button>
					</form>

				</div>
			{% endif %}
{% endblock %}

{% block right_col %}
				<div class="well">
					<p>ADS</p>
				</div>
{% endblock %}



