{% extends "__base.html" %}

{% block title %} | Удаление коммутатора доступа.{% endblock %}

{% block content %}
            {% if user.is_authenticated %}
                <div class = "container ">
                    <h2> Удаление коммутатора доступа!</h2>
                    <p>Вы действительно желаете удалить коммутатор доступа: {{ access_switch }}?</p>
                    <div class="alert alert-warning">При удалении данного коммутатора будет удалена информация о портах:
                    <ul>
                    {% for port in access_switch.port_of_access_switch_set.all %}
                        <li>{{ port }}</li>
                    {% endfor %}
                    </ul>
                    </div>
                    <form method="POST" class="post-form">{% csrf_token %}
                        {% csrf_token %}
                        <button type="submit" class="save btn btn-default">Удалить!</button>
                    </form>
                    
                </div>
            {% endif %}
{% endblock %}

{% block right_col %}
{% endblock %}



