{% extends "__base.html" %}

{% block title %} | Удаление коммутатора доступа.{% endblock %}
{% block left_col %}
    {% if mgs_list %}
        <ul class="nav-list list-group">
        {% for mgs in mgs_list %}
            <li class="list-group-item">
                <a href="{% url 'mgs' mgs.id %}">{{ mgs }}</a>
                {% if mgs == access_switch.access_node.thread.campus.ms.mgs %}
                    <ul class="nav-list list-group">
                    {% for ms in mgs.ms_set.all %}
                        {% for campus in ms.campus_set.all %}
                            <li class="list-group-item">
                                <a href="{% url 'campus' campus.id %}" {% if campus ==  access_switch.access_node.thread.campus %} class="active" {% endif %}>{{ campus }}</a>
                                    
                            </li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
			{% if user.is_authenticated %}
				<div class = "container ">
					<h2> Удаление коммутатора доступа!</h2>
                    <p>Вы действительно желаете удалить коммутатор доступа: {{ access_switch }}?</p>
                    <div class="alert alert-warning">При удалении данного коммутатора будет удалена информация о портах:
                    <ul>
                    {% for port in access_switch.port_of_access_switch_set.all %}
                        <li>{{ port }}</li>
                    {% endfor %}
                    </ul>
                    </div>
                    <form method="POST" class="post-form">{% csrf_token %}
                        {% csrf_token %}
						<button type="submit" class="save btn btn-default">Удалить!</button>
					</form>
                    
				</div>
			{% endif %}
{% endblock %}

{% block right_col %}
{% endblock %}



