{% extends "__base.html" %}

{% block title %} | Настройка коммутатора {{ access_switch }} {% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                <h1>
                    {{ access_switch }}
                </h1>
            </td>
            <td>
                <a href="{% url 'access_switch_delete' access_switch.id %}"> <span style="color:red" class="glyphicon glyphicon-remove small" title="Удалить коммутатор {{ access_switch }}"></span></a>
            </td>
        </tr>
    </table>
    <table class='table' >
        <tr>
            <td class='td_var'>
                ip:
            </td>
            <td class='td_val'>
                {{ access_switch.ip }}
            </td>
            <td class='td_var'>
                gw:
            </td>
            <td class='td_val'>
                {{ access_switch.gw }}
            </td>
        </tr>
        <tr>
            <td class='td_var'>
                model:
            </td>
            <td class='td_val'>
                {{ access_switch.sw_model }}
                <a href="{% url 'access_switch_mdoel' access_switch.id %}"> <span style="color:green" class="glyphicon glyphicon-pencil small" title="Изменить модель коммутатора '{{ access_switch }}'"></span></a>
            </td>
            <td class='td_var'>
                out/map: 
            </td>
            <td class='td_val'>
                {{ access_switch.access_node.thread.outvlan }}/{{ access_switch.access_node.thread.mapvlan }}
            </td>
        </tr>
    </table>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form_set.management_form }}
        <table class='table table-bordered table-hover table-condensed'>
            <tr class='active'>
                <th>
                    Порт
                </th>
                <th>
                    Тип порта
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Untag-vlan/PVID
                </th>
                <th>
                    Tag vlans
                </th>
            </tr>
            {% for form in form_set %}
                <tr class='port_type_{{ form.port_type.value }}'>
                    <td>
                        {{ form.num_in_switch.error }}
                        {{ form.port_name.value }}
                        {{ form.port_name.as_hidden }}
                        {{ form.num_in_switch.as_hidden }}
                        {{ form.id.as_hidden }}
                        {{ form.access_switch.as_hidden }}
                    </td>
                    <td {% for port_type in port_types %}
                                {% if port_type.id == form.port_type.value %} style='background-color: {{ port_type.color }};'{% endif %} 
                        {% endfor %} >
                        <select name='{{ form.port_type.html_name }}' >
                            {% for port_type in port_types %}
                                <option value='{{ port_type.id }}' {% if port_type.id == form.port_type.value %} selected {% endif %} style='background-color: {{ port_type.color }};'> {{ port_type.title }} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{ form.description.error }}
                        {{ form.description }}
                    </td>
                    <td>
                        {{ form.u_vlan.error }}
                        {{ form.u_vlan }}
                    </td>
                    <td>
                        {{ form.t_vlans.error }}
                        {{ form.t_vlans }}
                    </td>
                </tr>
                {% if form.errors %}
                    <tr>
                        <td colspan=8>
                            {{ form.errors }}
                        </td>
                    </tr>
                {% endif %}
                
            {% endfor %}
        </table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}

{% block right_col %}
    <div>
        <a href="{% url 'access_switch_cfg_gen' access_switch.id %}"> <i class="fa fa-file-code-o" style="font-size:18px"></i> Генерация конфигурации</span></a>
    </div>
{% endblock %}



