{% extends "__base.html" %}

{% block content %}
				{% if mgs_list %}
					<table class="table">
						<tr>
							<th>
								МГС
							</th>
							<th>
								Адресс
							</th>
							<th>
								Количество кампусов в МГС
							</th>
						</tr>
						{% for mgs in mgs_list %}
							<tr>
								<td>
									<a href="{% url 'mgs' mgs.id %}">{{ mgs }}</a> 
								</td>
								<td>
									{{ mgs.address }}
								</td>
								<td>
									{{ mgs.campus_set.all.count }}
								</td>
							</tr>
						{% endfor %}
					</table>
					
				{% else %}
					<p>Не создано ни одной МГС!</p>
				{% endif %}
{% endblock %}

