{% extends "__base.html" %}

{% block content %}
				{% if mgs_list %}
					<table class="table">
						<tr>
							<th>
								МГС
							</th>
							<th>
								Адресс
							</th>
							<th>
                                <i class="fa fa-codepen" style="font-size:24px" title='Кампусы'></i>/
                                <i class="fa fa-bank" style="font-size:24px" title='Узлы доступа'></i>/
                                <i class="fa fa-server" style="font-size:24px" title='Коммутвторы'></i>
							</th>
						</tr>
						{% for mgs in mgs_list %}
							<tr>
								<td>
									<a href="{% url 'mgs' mgs.id %}">{{ mgs }}</a> 
								</td>
								<td>
									{{ mgs.address }}
								</td>
								<td>
									<tt class="fa fa-codepen" title='Кампусы в {{ mgs }}'> {{ mgs.campus_count }}</tt>/
                                    <tt class="fa fa-bank" title='Узлы доступав {{ mgs }}'> {{ mgs.access_node_count }}</tt>/
                                    <tt class="fa fa-server" title='Коммутвторыв {{ mgs }}'> {{ mgs.access_sw_count }}</tt>
								</td>
							</tr>
						{% endfor %}
					</table>
					
				{% else %}
					<p>Не создано ни одной МГС!</p>
				{% endif %}
{% endblock %}

