{% extends "__base.html" %}

{% block title %} | {{ mgs }}{% endblock %}

{% block left_col %}
        <ul class="nav-list list-group">
            {% for mgs_exmpl in mgs_list %}
                <li class="list-group-item">
                    <a {% if mgs == mgs_exmpl %} class="active" {% endif %} href="{% url 'mgs' mgs_exmpl.id %}">{{ mgs_exmpl }}</a>
                </li>
            {% endfor %}
        </ul>
{% endblock %}

{% block content %}
				<h1>{{ mgs }} </h1>
					<table class='table'>
						<tr>
							<th>
								Магистраль
								<a href="{% url 'new_ms_in_mgs' mgs.id %}"><span class="glyphicon glyphicon-plus" title="Добавить новую магистраль в {{ mgs }}"></span>
							</th>
							<th></th>
						</tr>
						{% for ms in mgs.ms_set.all %}
							<tr>
								<td valign="top"> 
									{{ ms }}
									<a href="{% url 'ms_delete' ms.id %}"><span style="color:red" class="glyphicon glyphicon-remove small" title="Удалить магистраль {{ ms }}"></span></a>
								</td>
								<td>
									<table class="table small">
										<tr>
											<th>
												Кампусы <a href="{% url 'new_campus_in_ms' mgs.id ms.id %}"><span class="glyphicon glyphicon-plus" title="Добавить новый кампус в {{ ms }}"></span></a>
											</th>
											<th>
												Ниток в кампусе
											</th>
											<th>
												Узлов в кампусе
											</th>
											<th>
												Коммутаторов в кампусе
											</th>
										</tr>
										{% for campus in ms.campus_set.all %}
											<tr>
												<td>
													<a href="{% url 'campus' campus.id %}">{{ campus }} </a>
													<a href="{% url 'campus_edit' campus.id %}"><span style="color:green" class="glyphicon glyphicon-pencil small" title="Изменить кампус"></span></a>
													<a href="{% url 'campus_delete' campus.id %}"><span style="color:red" class="glyphicon glyphicon-remove small" title="Удалить кампус"></span></a>
												</td>
												<td>{{ campus.thread_set.count }}</td>
												<td>
													{{ campus.access_node_count }}
												</td>
												<td>
													{{ campus.access_sw_count }}
												</td>
											</tr>
										{% endfor %}
									</table>
								</td>
							</tr>
						{% endfor %}
					</table>
				
{% endblock %}

{% block right_col %}
				<div class="well">
					<p>ADS</p>
				</div>
{% endblock %}



