{% extends "__base.html" %}

{% block title %} | Редактирование кампуса.{% endblock %}
{% block left_col %}
				<table >
					<tr>
						<th>
							<a href="{% url 'mgs' ms.mgs.id %}">{{ ms.mgs }}</a>
						</th>
						<td>
						</td>
					</tr>
				{% for campus in ms.mgs.campus_set.all %}
					<tr>
						<td>
						</td>
						<td>
							<a href="{% url 'campus' campus.id %}">{{ ms }}</a>
						</td>
					</tr>
				{% endfor %}
				</table>
{% endblock %}

{% block content %}
			{% if user.is_authenticated %}
				<div class = "container ">
					<h2> Удаление магистрали! </h2>
                    <p>Вы действительно желаете удалить магистраль: {{ ms }}?</p>
					<form method="POST" class="post-form">{% csrf_token %}
                        {% csrf_token %}
						<button type="submit" class="save btn btn-default">Удалить!</button>
					</form>

				</div>
			{% endif %}
{% endblock %}

{% block right_col %}
				<div class="well">
					<p>ADS</p>
				</div>
{% endblock %}



