{% extends "__base.html" %}

{% block title %} | Удаление магистрали!{% endblock %}

{% block left_col %}
        <ul class="nav-list list-group">
            {% for mgs_exmpl in mgs_list %}
                <li class="list-group-item">
                    <a {% if mgs_exmpl ==  ms.mgs %} class="active" {% endif %} href="{% url 'mgs' mgs_exmpl.id %}">{{ mgs_exmpl }}</a>
                </li>
            {% endfor %}
        </ul>
{% endblock %}


{% block content %}
			{% if user.is_authenticated %}
				<div class = "container ">
					<h2> Удаление магистрали! </h2>
                    <p>Вы действительно желаете удалить магистраль: {{ ms }}?</p>
					<form method="POST" class="post-form">{% csrf_token %}
                        {% csrf_token %}
						<button type="submit" class="save btn btn-default">Удалить!</button>
					</form>

				</div>
			{% endif %}
{% endblock %}

{% block right_col %}
				<div class="well">
					<p>ADS</p>
				</div>
{% endblock %}



