{% extends "__base.html" %}

{% block title %} | Удаление магистрали!{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class = "container ">
            <h2> Удаление магистрали! </h2>
            <p>Вы действительно желаете удалить магистраль: {{ ms }}?</p>
            <form method="POST" class="post-form">{% csrf_token %}
                {% csrf_token %}
                <button type="submit" class="save btn btn-default">Удалить!</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

