{% extends "__base.html" %}

{% block title %} | Редактирование/создание узла доступа.{% endblock %}

{% block content %}
                <h1>'{{ access_node }}' </br>
                Добавление нового коммутатора! </h1>
                <form method="POST" class="post-form">{% csrf_token %}
                    <table class='table'>
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
{% endblock %}

{% block right_col %}
{% endblock %}



