{% extends "__base.html" %}

{% block title %} | Редактирование кампуса.{% endblock %}

{% block content %}
            {% if user.is_authenticated %}
                <div class = "container ">
                    <h2> Удаление нитки!</h2>
                    <p>Вы действительно желаете удалить нитку: {{ thread }}?</p>
                    <form method="POST" class="post-form">{% csrf_token %}
                        {% csrf_token %}
                        <button type="submit" class="save btn btn-default">Удалить!</button>
                    </form>

                </div>
            {% endif %}
{% endblock %}

{% block right_col %}
                <div class="well">
                    <p>ADS</p>
                </div>
{% endblock %}



