{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Генератор 2.0{% block title %}{% endblock %}</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'guts/css/guts.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		{% include "__navigation.html" %}
		<div class="main">
			<div class="container-fluid text-center">
				<div class="row content">
					<div class="col-sm-2 sidenav">
						{% block left_col %} {% endblock %}
					</div>
					<div class="col-sm-8 text-left">
						{% block content %} {% endblock %} 
					</div>
					<div class="col-sm-2 ">
						{% block right_col %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<footer class="container-fluid  text-right">
			<p><small>({{ num_visits }})</small></p>
		</footer>
	</body>
</html>
